.product {
    font-size: 13px;
    color: #999;
    box-shadow: 0px 0px 10px #ccc;
    padding: 10px;
    margin:10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.4s;
    text-align: right;

    &:hover {
        box-shadow: 0px 0px 20px #999;
        
        .product__title {
            color: #f00;
            font-weight: 600;
        }
    }

    .product__img {
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .product__title {     
        margin: 10px 0;
        line-height: 25px;
        line-height: 1.5em;
        height: 3em;       /* height is 2x line-height, so two lines will display */
        overflow: hidden;
    }

    .product__price {
        font-size: 13px;
        color: #222;
        font-weight: 600;      
    }
}